<div class="mt-5">
  <h2 class="text-center my-3"><%= t "devise.strings.sign_up" %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-control mx-auto", style: "max-width: 500px"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-2">
      <%= f.label :email, class: "form-label fw-bold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field mb-2">
      <%= f.label :password, class: "form-label fw-bold" %>
      <% if @minimum_password_length %>
        <em class="form-text">(<%= t "devise.strings.min_characters", count: @minimum_password_length %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field mb-2">
      <%= f.label :password_confirmation, class: "form-label fw-bold" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Regisztráció", class: "btn btn-primary w-100 my-2" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>